
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="./lib/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min (2).css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

</body>
</html>
