.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    vertical-align: middle;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;    
}

button {
    vertical-align: middle;
    margin: 10px;
}

